{% extends 'base_admin.html' %}



{% block content %}

<style>
    .custom-div {
        width: 200px;
        height: 50px;
        background-color: rgb(28, 107, 46);
        text-align: center;
        line-height: 40px;
        transition: background-color 0.3s;
    }
    
    .custom-div:hover {
        background-color: rgb(0, 128, 255);
    }
    
    .custom-div a {
        color: #ffffff;
        text-decoration: none;
    }
    
    button {
    width: 100px;
    height: 40px;
    background-color: rgb(0, 128, 255);
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(28, 107, 46);}
   
    table {
        border-collapse: collapse;
        width: 75%;
    }

    th, td {
        border: 1px solid black;
        padding: 6px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2; 
    }

    

   
    .custom-div {
        width: 100px;
        height: 40px;
        background-color: rgb(28, 107, 46);
        text-align: center;
        line-height: 40px;
        transition: background-color 0.3s;
    }

    .custom-div:hover {
        background-color: rgb(0, 128, 255);
    }

    .custom-div a {
        color: #ffffff;
        text-decoration: none;
    }
    

        .center-heading {
            text-align: center;
        }
    
</style>

<center>
    <div class= "container">
<h1>Lista Spectacole:</h1>
    </div>
    <br>
    <br>
    <div class="custom-div" style="background-color: rgb(28, 107, 46);">
        <a href="/profil_admin/spectacole/adauga_spectacol">Adauga Spectacol</a>
        </div>
</center>

<br><br><br>
<center>
{% for spectacol in lista_spectacole %}
<table>
    <thead>
        <tr>
            <th colspan="7" class="center-heading">
                <div>
                    {{ spectacol[0][1] }}
                </div>
            </th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Data</th>
            <th>Ora</th>
            <th>Descriere</th>
            <th>Locatie</th>
            <th>Adresa</th>
            <th>Nr maxim Bilete</th>
            <th>Pret Bilet</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
              <td>{{ spectacol[0][2] }}</td>
              <td>{{ spectacol[0][3] }}</td>
              <td>{{ spectacol[0][4] }}</td>
              <td>{{ spectacol[0][7] }}</td>
              <td>{{ spectacol[0][8] }}</td>
              <td>{{ spectacol[0][5] }}</td>
              <td>{{ spectacol[0][6] }}</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th colspan="5" class="center-heading">
                Comedianti
            </th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Nume</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Descriere</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        {% for com in spectacol[1] %}
            <tr>
              <td>{{ com[0] }}</td>
              <td>{{ com[1] }}</td>
              <td>{{ com[2] }}</td>
              <td>{{ com[3] }}</td>
              <td>{{ com[4] }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<table>
    <tr>
        <td>
          <div class="custom-div">
          <a href="/profil_admin/spectacole/editeaza_spectacol/{{spectacol[0][0]}}">Editeaza</a>
        </td>
        <td>
          <div class="custom-div" style="background-color: red;">
          <a href="/profil_admin/spectacole/sterge_spectacol/{{spectacol[0][0]}}">Sterge</a>

        </td>
    </tr>
</table>
<br>
    <br>
    <br>
{% endfor %}
</center>
  

    <br>
    <br>
    <br>






{% endblock %}